
body.fp-body {
    background: none;
    background-color:#FFFFFF;
    margin:0px;
    vertical-align:top;
    cursor:default;
    font: 11px arial,tahoma,sans-serif;
}

input {
    font-family:arial,tahoma,sans-serif;
    font-size:11px;
}

select {
    font-family:arial,tahoma,sans-serif;
    font-size:11px;
}

textarea {
    font-family:arial,tahoma,sans-serif;
    font-size:11px;
}

td { color:#FFFFFF; }

a.fp-box, a.fp-box:link, a.fp-box:visited {
    font-family:verdana;
    font-size:11px;
    color:#FFFFFF;
    text-decoration:none;
}
a.fp-box:hover {
    font-family:verdana;
    font-size:11px;
    color:#FFFFFF;
    text-decoration:underline;
}

#fp_box {
    background-repeat:no-repeat;
    position: relative;
    width:512px;
    height:252px;
    margin:auto;
}

#fp_box_elements {
    margin:auto;
    padding-top:125px;
    color:#FFFFFF;
}

td.form-caption-fp {
    padding:2px;
    padding-right:4px;
    padding-top:6px;
    vertical-align:top;
    text-align:right;
    font-weight:bold;
    color:#FFFFFF;
}

td.form-element-fp {
    padding:2px;
    margin-left:0px;
    text-align:left;
}

input.fp-text-off {
    background-color:#FFFFFF;
    border:1px solid #000000;
    padding:1px 2px 1px 2px;
    vertical-align:middle;
}
input.fp-text-on {
    background-color:#FFFFFF;
    border:1px solid #000000;
    padding:1px 2px 1px 2px;
    vertical-align:middle;
}

input.fp-password-off {
    padding:1px 2px 1px 2px;
    vertical-align:middle;
    background-color:#FFFFFF;
    border:1px solid #000000;
}
input.fp-password-on {
    padding:1px 2px 1px 2px;
    vertical-align:middle;
    background-color:#FFFFFF;
    border:1px solid #000000;
}

input.fp-submit-off, input.fp-button-off {
    background: url(https://www.yanceysfancy.com/templates/back/images/buttons/submit-background.gif);
    font-size: 10px;
    font-weight: bold;
    color: #333333;
    margin: 0px;
    padding: 0px;
    padding-left:5px;
    padding-right:5px;
    cursor:pointer;
    width:100px;
}

input.fp-submit-over, input.fp-button-over {
    background: url(https://www.yanceysfancy.com/templates/back/images/buttons/submit-background.gif);
    font-size: 10px;
    font-weight: bold;
    color: #CC0000;
    margin: 0px;
    padding: 0px;
    padding-left:5px;
    padding-right:5px;
    cursor:pointer;
    width:100px;
}

input.fp-submit-on, input.fp-button-on {
    background: url(https://www.yanceysfancy.com/templates/back/images/buttons/submit-background.gif);
    font-size: 10px;
    font-weight: bold;
    color: #333333;
    margin: 0px;
    padding: 0px;
    padding-left:5px;
    padding-right:5px;
    cursor:pointer;
    width:100px;
}